* {
  margin: 0;
  padding: 0;
  border-radius: 20px;
}
.container {
  background-color: rgb(255, 255, 255);
  padding: 20px 0;
  border-radius: 0;
  box-shadow: 5px 5px 20px black;
}
header {
  background-color: lightblue;
  text-align: center;
  margin: 0 20px;
  padding: 20px;
  font-size: 20px;
}
nav {
  background-color: lightgreen;
  text-align: center;
  margin: 20px;
  padding: 20px;
  font-size: 20px;
}
main {
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
  gap: 10px;
  height: 600px;
}
aside {
  background-color: lightcoral;
  text-align: center;
  width: 200px;
  /* padding: 20px; */
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: auto;
}
.main-Content {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 10px;
  flex-grow: 10;
}
.content-1 {
  background-color: lightgoldenrodyellow;
  /* padding: 20px; */
  height: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-2 {
  height: 50%;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.content-2 section {
  background-color: rgb(236, 135, 135);
  width: 200px;
  /* height: ; */
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-2 div {
  background-color: rgb(219, 207, 98);
  width: 200px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  background-color: lightpink;
  text-align: center;
  margin: 0 20px;
  padding: 20px;
  font-size: 20px;
}
